<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                
                     <fieldset>
                        <legend class="text-center header">Realizar Transferencia</legend>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="destino" name="filterDest" type="text" placeholder="Buscar Nombre Destinatario..." class="form-control" [(ngModel)] = "filterDest" />
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table-bordered table-responsive-sm">
                                <thead>
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">RUT</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Télefono</th>
                                    <th scope="col">Banco Destino</th>
                                    <th scope="col">Tipo Cuenta</th>
                                    <th scope="col">Numero de Cuenta</th>
                                    <th scope="col">Seleccione</th>

                                  </tr>
                                </thead>
                                <tbody *ngFor = "let contacto of contactos | pipes:filterDest">
                                    <tr>
                                        <td scope="row">{{ contacto.nombre }}</td>
                                        <td>{{ contacto.rut }}</td>
                                        <td>{{ contacto.correo }}</td>
                                        <td>{{ contacto.numTel }}</td>
                                        <td>{{ contacto.bancoList }}</td>
                                        <td>{{ contacto.tipCta }}</td>
                                        <td>{{ contacto.numCta }}</td>
                                        <td>
                                            <button class= "btn btn-primary" (click) = "miSelect(contacto)">Seleccionar</button>
                                        </td>
                                </tbody>
                              </table>
                        </div>
                        
                        <br>
                        Datos Seleccionados
                        <br>
                        <br>
                        <form action="/" method="post" class="form-horizontal" [formGroup]="formulario" (ngSubmit)="miSubmit()" novalidate="">  
                      
                        <table class="class='table borderless">
                        <tr>
                            <td>Nombre</td>
                            <td><input  id="nombre" name="nombre" type="text" placeholder="nombre" formControlName="nombre" disabled /></td>
                        </tr>
                        <tr>
                            <td>RUT</td>
                            <td><input  id="rut" name="rut" type="text" placeholder="Rut" formControlName="rut" disabled /></td>
                        </tr>
                        <tr>
                            <td>E-Mail</td>
                            <td><input  id="correo" name="correo" type="text" placeholder="Mail" formControlName="correo" disabled /></td>
                        </tr>
                        <tr>
                            <td>Telefono</td>
                            <td><input  id="numTel" name="numTel" type="text" placeholder="Telefono" formControlName="numTel" disabled /></td>
                        </tr>
                        <tr>
                            <td>Nombre</td>
                            <td><input  id="nombre" name="nombre" type="text" placeholder="nombre" formControlName="nombre" disabled /></td>
                        </tr>
                        <tr>
                            <td>Banco Destino</td>
                            <td><input  id="bancoList" name="bancoList" type="text" placeholder="Banco Destino" formControlName="bancoList" disabled /></td>
                        </tr>
                        <tr>
                            <td>Tipo de Cuenta</td>
                            <td> <input  id="tipCta" name="tipCta" type="text" placeholder="Tipo de Cuenta" formControlName="tipCta" disabled /></td>
                        </tr>
                        <tr>
                            <td>Numero de Cuenta</td>
                            <td><input  id="numCta" name="numCta" type="text" placeholder="Numero de Cuenta" formControlName="numCta" disabled /></td>
                        </tr>

                        </table>
                   
                       <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('monto').invalid && formulario.get('monto').touched, 'is-valid': formulario.get('monto').valid, '': formulario.get('monto').untouched}" id="uname" name="name" type="text" placeholder="$ Monto" class="form-control" formControlName="monto" required />
                            </div>
                            <div *ngIf="formulario.get('monto').errors && formulario.get('monto').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('monto').valid">Monto no valido</p>
                            </div>
                        </div>

                        <div class="float-right">
                            <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Realizar Transferencia</button>
                        </div>

                        <div class="float-left">
                            <button type="submit" class="btn btn-primary" (click)="miBorrar()">Borrar Datos</button>
                        </div>

                    </form>
              

                    </fieldset>
                
            </div>
        </div>
    </div>
</div>