<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/" method="post" class="form-horizontal" [formGroup]="formulario" (ngSubmit)="miSubmit()" novalidate="">
                    <fieldset>
                        <legend class="text-center header">Nuevo Destinatario</legend>

                        <div class="form-group">
                            
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('nombre').invalid && formulario.get('nombre').touched, 'is-valid': formulario.get('nombre').valid, '': formulario.get('nombre').untouched}" id="fname" name="name" type="text" placeholder="Nombre" class="form-control" formControlName="nombre" required />
                            </div>
                            <div *ngIf="formulario.get('nombre').errors && formulario.get('nombre').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('nombre').valid">Nombre no valido</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('rut').invalid && formulario.get('rut').touched, 'is-valid': formulario.get('rut').valid, '': formulario.get('rut').untouched}"  id="uname" name="name" type="text" placeholder="Rut" class="form-control" formControlName="rut" required />
                            </div>
                            <div *ngIf="formulario.get('rut').errors && formulario.get('rut').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('rut').valid">Rut no Valido</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('correo').invalid && formulario.get('correo').touched, 'is-valid': formulario.get('correo').valid, '': formulario.get('correo').untouched}" id="email" name="email" type="text" placeholder="Direccion Correo" class="form-control" formControlName="correo" required/>
                            </div>
      
                            <div *ngIf="formulario.get('correo').errors && formulario.get('correo').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('correo').valid">Formato correo no válido</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('numTel').invalid && formulario.get('numTel').touched, 'is-valid': formulario.get('numTel').valid, '': formulario.get('numTel').untouched}" name="name" type="text" placeholder="Numero de Télefono" class="form-control" formControlName="numTel" required />
                            </div>
                            <div *ngIf="formulario.get('numTel').errors && formulario.get('numTel').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('numTel').valid">Numero no válido / Largo no valido</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <select [ngClass]="{'is-invalid' : formulario.get('bancoList').invalid && formulario.get('bancoList').touched, 'is-valid': formulario.get('bancoList').valid, '': formulario.get('bancoList').untouched}" class="form-control" id = banco placeholder="Banco Destino" class="form-control" formControlName="bancoList">
                                    <option [value] = "banco.name" *ngFor = "let banco of bancos.banks">{{banco.name}}</option>
                                </select> 
                            </div>
                            <div *ngIf="formulario.get('bancoList').errors && formulario.get('bancoList').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('bancoList').valid">Debe seleccionar Banco...</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <select [ngClass]="{'is-invalid' : formulario.get('tipCta').invalid && formulario.get('tipCta').touched, 'is-valid': formulario.get('tipCta').valid, '': formulario.get('tipCta').untouched}" class="form-control" id = tipCta placeholder="tipCta" class="form-control" formControlName="tipCta">
                                    <option [value] = "tipCta" *ngFor = "let tipCta of listaCuentas">{{tipCta}}</option>
                                </select> 
                             </div>
                             <div *ngIf="formulario.get('tipCta').errors && formulario.get('tipCta').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('tipCta').valid">Debe seleccionar tipo cuenta...</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input [ngClass]="{'is-invalid' : formulario.get('numCta').invalid && formulario.get('numCta').touched, 'is-valid': formulario.get('numCta').valid, '': formulario.get('numCta').untouched}" id="uname" name="name" type="text" placeholder="Numero de Cuenta" class="form-control" formControlName="numCta" required />
                            </div>
                            <div *ngIf="formulario.get('numCta').errors && formulario.get('numCta').dirty">
                                <p class="texto-fondo-error" *ngIf="!formulario.get('numCta').valid">Numero de cuenta invalido...</p>
                            </div>
                        </div>
                        
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Ingresar</button>
                        </div>

                        <div class="float-left">
                            <button type="submit" class="btn btn-primary" (click)="miBorrar()">Borrar Datos</button>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>