<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="#">
        <img src="https://www.bancoripley.cl/img/logo-app-banco.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Banco Ripley
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <button class="btn btn-sm btn-outline-secondary" type="button" href="#" routerLink='home-component'>Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button"  href="#" routerLink='form-component'>Nuevo destinatario</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button"  href="#" routerLink='transac-component'>Transferir</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button"  href="#" routerLink='transacHist-component'>Historial de Transferencia</button>
            </li>
        </ul>
    </div>
</nav>