<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/" method="post" class="form-horizontal">
                     <fieldset>
                        <legend class="text-center header">Historial de Transferencias</legend>
                        <div class="table-responsive-sm">
                            <table class="table-bordered table-responsive-sm">
                                <caption>Historial de transferencias</caption>
                                <thead>
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">RUT</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Télefono</th>
                                    <th scope="col">Banco Destino</th>
                                    <th scope="col">Tipo Cuenta</th>
                                    <th scope="col">Numero de Cuenta</th>
                                    <th scope="col">Monto</th>

                                  </tr>
                                </thead>
                                <tbody *ngFor = "let contacto of contactos">
                                    <tr>
                                        <td scope="row">{{ contacto.nombre }}</td>
                                        <td>{{ contacto.rut }}</td>
                                        <td>{{ contacto.correo }}</td>
                                        <td>{{ contacto.numTel }}</td>
                                        <td>{{ contacto.bancoList }}</td>
                                        <td>{{ contacto.tipCta }}</td>
                                        <td>{{ contacto.numCta }}</td>
                                        <td>{{ contacto.monto }}</td>
                                </tbody>
                              </table>
                        </div>
                    </fieldset>
                    
                    </form>
            </div>
        </div>
    </div>
</div>